/* Import the Google font */
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

body {
    cursor: none;
}

.tangerine-bold {
  font-family: "Tangerine", serif;
  font-weight: 700;
  font-style: 4rem;
}

.newsreader-font {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: large;
  font-style: normal;
}

.cursor-dot {
    width: 8px;
    height: 8px;
    background-color: black;
    position: fixed;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
    pointer-events: none;
    transition: transform 0.1s ease;
}

.cursor-outline {
    width: 40px;
    height: 40px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    position: fixed;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 9999;
    pointer-events: none;
    transition: transform 0.1s ease;
}

li:hover {
  cursor: none;
}