
.btn-container {
  width: 80px;
  height: 40px;
  position: relative;
}

.btn {
  width: 80px;
  height: 40px;
  cursor: pointer;
  background: transparent;
  /* border: 1.5px solid #91C9FF; */
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #91C9FF;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #e5e8ea;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: #4A4A4A;
  font-size: 18px;
  font-weight: 100;
}